// navigation font color variables
$navbarLinkBaseColor: white;
$navbarLinkVisitedColor: white;
$navbarLinkHoverColor: yellow;
$navbarLinkActiveColor: blue;

// navigation background color variables
$navbarBgColor: gray;
$navbarBgColor2: black;

// font famiy variables
$font: 'Dosis';
$font-family: $font, sans-serif;

// image variables
$imgTop: 99%;
$imgMid: 98%;
$imgBottom: 97%;
//$img-names: 'imgTop', 'imgMid', 'imgBottom';
//$img-values: 95, 90, 85;